.payment-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 30px;
  background: #0b1220;
  border-radius: 12px;
  color: white;
  text-align: center;
}

.mock-payment input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.pay-btn {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
